.disabled {
  display: none;
}
.login-register form .checkbox {
  font-size: 9px;
  color: #edecef;
  font-weight: 400;
  margin-top: 15px;
}
.help-block-error {
  margin: 0;
}
.login-register .button--big {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 18px;
  color: #191919;
  font-weight: 500;
  text-decoration: none;
  height: 73px;
  line-height: 73px;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs li {
  margin-right: 3px;
}
.mainTable tr {
  border-bottom: 1px solid #ffbe00;
  border-top: 1px solid #ffbe00;
}
.mainTable a {
  color: black;
}
@media (min-width: 650px) {
  .menu {
    justify-content: space-between;
  }
}
.alert-danger.fade.in,
.alert-success.fade.in {
  opacity: 1;
}
.section {
  padding: 0;
}
button.close {
  border: none;
}
.minWidthAuto {
  min-width: auto;
}
.inlineBlock {
  display: inline-block;
}
.nav-link {
  color: #ffbe00;
}
.languageSwitcher .dropdown-menu {
  background: black;
  border: 1px solid #ffbe00;
}
.languageSwitcher .dropdown-menu .dropdown-item {
  color: #ffbe00;
}
.languageSwitcher .dropdown-menu .dropdown-item:hover {
  background-color: #111111;
}
