.contact {
  &__map {
    height: 370px;
  }

  &__form {
    padding: 50px 35px;
    padding-bottom: 35px;
    background-color: #191818;

    .input {
      width: 100%;
    }

    label {
      width: 100%;
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      color: #ffffff;
      font-weight: 300;

      .input {
        margin-top: 15px;
      }
    }

    .button {
      min-width: 275px;
      display: block;
      text-align: center;
    }
  }

  + footer {
    .footer {
      margin-top: 0;
    }
  }

  h4 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
  }
}

.input {
  border-radius: 3px;
  background-color: #edebef;
  border: 1px solid $PRIMARY;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 10px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

.login-register {
  margin-top: 40px;

  .contact__form {
    padding-top: 15px;
  }

  h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 50px;
  }

  p {
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
  }

  form {
    .button {
      margin-top: 15px;
      min-width: unset;
      width: 100%;

      &--inactive {
        opacity: 0.7;
      }
    }

    .button--big {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 18px;
      color: #191919;
      font-weight: 500;
      text-decoration: none;
      height: 73px;
      line-height: 73px;
    }

    .check {
      font-size: 9px;
      color: #edecef;
      font-weight: 400;
      margin-top: 15px;

      input {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    a {
      font-size: 9px;
      color: #edecef;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .video-icon {
    width: 100%;
    max-width: 240px;
    height: 200px;
    border: 1px solid #ff6600;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #ff6600;
    font-size: 18px;
    margin-left: 65px;
    margin-top: 65px;
  }
}

.dashboard {
  .button--big {
    display: inline-block;
    width: auto !important;
    padding: 0 10px;
    min-width: 150px !important;
  }

  .contact__form {
    margin-top: 35px;
    padding-left: 0;
    padding-right: 0;
  }

  .desc {
    padding: 0 20px;
  }

  .table {
    background-color: #f9f9f9;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    margin-top: 25px;
    tr {
      border-color: $PRIMARY;
    }

    td,
    th {
      padding: 15px 10px;
      border-left: none;
      border-right: 0;

      &:first-child {
        padding-left: 40px;
      }

      &:last-child {
        padding: 7px;
      }
    }

    th {
      font-weight: 400;
      font-size: 14px;
      text-transform: uppercase;
      padding: 5px 10px;
      background-color: #edebef;
    }

    .share {
      color: #dedede;
      width: 40px;
      height: 40px;
      display: grid;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border: 1px solid #dedede;
      border-radius: 50%;
      text-decoration: none;

      &:hover {
        color: $PRIMARY;
        border-color: $PRIMARY;
      }
    }
  }
  + footer {
    .footer {
      margin-top: 35px;
    }
  }
}
