.button {
  background: $PRIMARY;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-family: 'Open Sans';
  text-align: center;
  height: 33px;
  line-height: 33px;
  border-radius: 3px;
  padding: 0 10px;
  display: inline-flex;
  border: none;
  outline: none;

  &:hover {
    color: #fff;
  }

  &--big {
    text-transform: uppercase;
    font-size: 18px;
    height: 58px;
    line-height: 58px;
    padding: 0 42px;
    white-space: nowrap;

    @media (min-width: $MD) {
      font-size: 24px;
    }
  }

  &--secondary {
    background-color: #000000;
    color: $PRIMARY;
  }

  &--block {
    width: 100%;
    text-align: center;
    display: block;
  }
}
